* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: grey;
}

.container {
    width: 900px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 10%;
    float: right;
}

.blanket {
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0.8;
    margin-left: 100px;
    font-size: 150px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanket img {
    width: 100px;
    float: top;
    position: absolute;
    bottom: 5px;
}

.endGameScoreboard {
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: -2;
    background-color: black;
    opacity: 0.8;
    margin-left: 100px;
    font-size: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endGameScoreboard img {
    width: 100px;
    float: top;
    position: absolute;
    bottom: 5px;
}

#board {
    width: 700px;
    height: 700px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, auto);
    background-color: white;
    margin: auto;
    margin-top: 0px;
}

.target {
    width: 170px;
    height: 170px;
    border: 6px solid black;
    border-radius: 50%;
}

.whiteCircle {
    background-color: white;
}


.redCircle {
    background-color: red;
}

.greenCircle {
    background-color: green;
}

.nav {
    display: flex;
    flex-direction: column;
    float: left;
}

.buttonHolder {
    width: 100px;
    height: 100px;
    font-size: 20px;
    float: left;
}


.navRight {
    float: right;
    font-size: 40px;
    margin-right: 20px;
}

.countDownTimer {
    margin-right: 10px;
}


@media only screen and (max-width: 1412px) {
    body {
        overflow: auto;
    }
    .nav {
        margin-top: 200px;
    }
    .navRight {
        margin-top: 240px;
    }
}

@media only screen and (max-width: 414px) {
    body {
        overflow: auto;
    }
    .nav {
        margin-top: 200px;
    }
    .navRight {
        margin-top: 240px;
    }
    .blanket, .endGameScoreboard {
        margin-top: 535px;
    }
}