* { 
    box-sizing: border-box;
}

body {
    margin: 0;
}


#board {
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, auto);
    background-color: black;
    margin: auto;
    margin-top: 50px;
}

.target {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

.buttonHolder {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

p {
    font-size: 45px;
}