* { 
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 1000px;
    height: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.blanket {
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0;
    margin-left: 150px;
    font-size: 300px;
    color: white;
    text-align: center;
}

#board {
    width: 700px;
    height: 700px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, auto);
    background-color: white;
    margin: auto;
    margin-top: 0px;
}


.target {
    width: 170px;
    height: 170px;
    border: 6px solid black;
    border-radius: 50%;
}

.whiteCircle {
    background-color: white;
}


.redCircle {
    background-color: red;
}

.buttonHolder {
    width: 100px;
    height: 100px;
    font-size: 20px;
    float: left;
}

.scoreBoard , .countDownTimer {
    float: right;
    font-size: 40px;
    margin-right: 10px;
}

.countDownTimer {
    padding-right: 10px;
}
